.posts {
  max-width: 720px;
  margin: 2rem auto 0;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid gray;
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;

      transition: color 0.2s;
    }

    p {
      color: var(--gray-300);
      margin-top: 0.5rem;
      line-height: 1.625rem;
    }

    &:hover strong {
      color: var(--yellow-500);
    }

    div {
      margin-top: 8px;

      display: flex;
      span {
        display: flex;
        align-items: center;
        color: var(--gray-300);

        font-size: 0.875rem;

        & + span {
          margin-left: 1rem;
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}

.button {
  border: none;
  background: transparent;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--highlight);
  margin: 4rem 9.9rem 0;
}
